<nav class="navbar nav-tabs justify-content-between navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav nav-pills nav-fill"  id="navItemList" role="tablist">
      <li>
        <a class="navbar-brand d-none d-lg-block" href="/">
            <img src="/src/img/miniBrand.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/">Servicios<span class="sr-only"></span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/about">Quiénes Somos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/agend">Agenda<span class="sr-only"></span></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/pay">Pagos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/contact">Contáctanos<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>