<div class="container-float">
    <span id="whatsapp-text" class="text-margin" tabindex="0">Contáctanos por WhatsApp!!</span>
    <a id="whatsapp-icon" href="https://wa.me/12345678901?text=Hola%20desde%20mi%20sitio%20web" class="btn btn-success btn-round">
        <i class="fab fa-whatsapp"></i> <!-- Ícono de WhatsApp de Font Awesome -->
    </a>
</div>
