<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('import/imports') %>
        <title>Agenda</title>
    </head>
    <body>
        <%- include('import/nav') %>
        <h1>Nuestra agenda</h1>
        <!-- Contenido de tu página de servicios -->
        <%- include('import/footer') %>
    </body>
</html>