<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('import/imports') %>
        <title>Servicios</title>
    </head>
    <body>
        <%- include('import/nav') %>
        <div id="carouselWControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselWControls" data-slide-to="0" class="active"></li>
                <li data-target="#carouselWControls" data-slide-to="1"></li>
                <li data-target="#carouselWControls" data-slide-to="2"></li>
                <li data-target="#carouselWControls" data-slide-to="3"></li>
                <li data-target="#carouselWControls" data-slide-to="4"></li>
              </ol>
            
            <div class="carousel-inner">
              <div class="carousel-item active" id="item01" data-interval="3500">
                <img src="/img/carousel/one.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" id="item02" data-interval="3500">
                <img src="/img/carousel/two.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" id="item03" data-interval="3500">
                <img src="/img/carousel/three.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" id="item04" data-interval="3500">
                <img src="/img/carousel/four.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" id="item05" data-interval="3500">
                <img src="/img/carousel/five.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselWControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
            <a class="carousel-control-next" href="#carouselWControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
          </div>
          <%- include('import/wpp') %>
          <%- include('import/footer') %>
    </body>
</html>
